.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}


.sale-image {
  width: 30vw;
  height: 70vh;
  object-fit: fill;
  margin-top: 210px;

}

a {
  margin-top: 30px;
  text-decoration: none;
}