.header-container {
  align-content: center;
}

header {
  margin: 0px;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 100%;

}

header img {
  display: block;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 100%;
  background-color: white;

}