.container {
  align-content: center;
}

header {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 80px;

}

header img {
  display: block;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-color: white;
}